body {
    background-color: #969191;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
=======
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
}

.buttons {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

<<<<<<< HEAD
.dropdown-buttons {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}

.dropdown-buttons-top {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}

.dropdown-buttons:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border-bottom: 1px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dropdown-buttons-top:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border-bottom: 1px solid black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

=======
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
.buttons2 {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    padding: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

<<<<<<< HEAD
.login-button {
    position:absolute;
    right: 0px;
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

=======
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
.dropdown-button {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    height: 50px;
    width: 60px;
<<<<<<< HEAD
    padding: 15px 0 0 30px;
=======
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
<<<<<<< HEAD
    width: 25px;
=======
    width: 30px;
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
<<<<<<< HEAD
    background-color:#ccc;
    min-width: 160px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 1;
}

.dropdown-content h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

input[type=text], select {
    width: 250px;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 250px;
    padding: 12px 20px;
    margin: 0 0 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.top-header {
    background-color: #312f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    margin-bottom: 20px;
=======
    height: 500px;
    background-color:#ccc;
    min-width: 160px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
>>>>>>> eec88ab185bdddc9f342562797ca1c8d374d7e5a
}