body {
    background-color: #969191;
}

.buttons {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.buttons2 {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    padding: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dropdown-button {
    color: black;
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
    height: 50px;
    width: 60px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    height: 500px;
    background-color:#ccc;
    min-width: 160px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
}